
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background-image: url('/images/imgAAA.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .main-content {
            position: relative;
            z-index: 1;
            color: #fff;
            text-align: center;
            padding-top: 20%;
        }

        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Şəffaf qara fon */
            z-index: 0;
        }
    </style>
</head>
<body>
    <div class="main-content">
        <h1 class="display-4">İmtahan proqramına xoş gəlmisiz</h1>
    </div>
</body>
</html>


